.head {
    font-size: 26px;
    font-weight: 500;
}

.headercontainer {
    background: #3498db;
}

.searchbar {
    width: 35%;
}

p {
    font-size: 14px;
}

.cardtitle {
    font-size: 20px;
    color: red;
}

.cardrow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
}

.sort {
    font-size: 16px;
    font-weight: 500;
    width: 25%;
}
h2{
    text-align: center;
}

.btnsrch {
    background: aliceblue;
    font-size: 14px;
    font-weight: 500;

}

.btnsrch:hover {
    color: blue;
}

.price {
    text-align: center;
    color: white;
    background: #121bcb;
    border-radius: 13%;
    width: 80px;
    margin-left: 75px;

}

.rate {
    margin-left: 50px;
    background-color: yellow;
    height: 25px;
}